

<input 
    type="text" 
    [(ngModel)]="fieldText" 
    class="form-control" />

<p class="mt-3">{{ fieldText }}</p>
<p class="mt-3">
    <button (click)="changeValueInput()" class="btn btn-outline-primary">Cambiar el valor del input</button>
</p>

<div class="wrap-inputs">
    <div class="input-group">
        <span class="input-group-text w-25" id="name">Nombre</span>
        <input 
            type="text" 
            [(ngModel)]="person.name" 
            class="form-control" 
            placeholder="Escriba su nombre"
            aria-label="name" 
            aria-describedby="name" >
    </div>
    <div class="input-group mt-3">
        <span class="input-group-text w-25" id="surname">Apellido</span>
        <input 
            type="text" 
            [(ngModel)]="person.surname" 
            class="form-control" 
            placeholder="Escriba su apellido"
            aria-label="surname" 
            aria-describedby="surname" >
    </div>
    <div class="input-group mt-3">
        <span class="input-group-text w-25" id="age">Edad</span>
        <input 
            type="number" 
            [(ngModel)]="person.age" 
            class="form-control" 
            placeholder="Escriba su edad"
            aria-label="age" 
            aria-describedby="age" >
    </div>
</div>
<p *ngIf="person.name" class="mt-3">Me llamo {{ person.name }} {{ person.surname }} y tengo {{ person.age }} años</p>