<div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">Sumar</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Pulse el botón para sumar los dos números</h6>
      <div class="d-flex justify-content-around w-25 mx-auto">
          <h4 class="card-text">{{ numOne }}</h4>
          <p>+</p>
          <h4 class="card-text">{{ numTwo }}</h4>
        </div>
        <button (click)="resultOperation()" class="btn btn-outline-success">Sumar</button>
        <h4 class="card-text mt-3">Resultado:</h4>
        <h2 class="card-text text-success">{{ result }}</h2>
    </div>
</div>