

<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img 
                [src]="writer?.imagen"
                [alt]="writer?.nombre"
                [title]="writer?.nombre"
                class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ writer?.nombre }} {{ writer?.apellidos }}</h5>
              <p class="card-text">País: {{ writer?.pais }}</p>
            </div>
        </div>
    </div>
</div>