



<p appUnderline>Este texto está subrayado por una directiva personalizada</p>
<p>Este texto no tiene la directiva personalizada</p>
<p appRenderer>Este texto está subrayado y tiene color por una directiva personalizada con un renderer</p>
<p appHostListener class="p-1">Este texto tiene una directiva hostListener, pasa el mouse por encima</p>
<p appHostBinding>El texto se hace grande por una clase puesta con un @HostBinding</p>
<p appInput>El color del texto cambia por una directiva @Input</p>
<p appInput configFont>El tamaño del texto cambia por una directiva @Input configurada en el html</p>