<div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">Pulse el botón para iniciar el contador</h5>
      <h3 class="card-text">{{ counter }}</h3>
      <button 
        (click)="startCounter()" 
        [disabled]="finishCounter"
        class="btn btn-outline-success">
        Iniciar
      </button>
    </div>
</div>

<app-chronometer-output-task [start]="30" class="d-block mt-3" />
<app-chronometer-output-task 
  [start]="numbers[0]" 
  (finish)="onFinishChronometer($event)"
  class="d-block mt-3" />
<app-chronometer-output-task 
  [start]="numbers[1]" 
  (finish)="onFinishChronometer($event)"
  class="d-block mt-3" />
<app-chronometer-output-task 
  [start]="numbers[2]" 
  (finish)="onFinishChronometer($event)"
  class="d-block mt-3" />
<app-chronometer-output-task 
  [start]="numbers[3]" 
  (finish)="onFinishChronometer($event)"
  class="d-block mt-3" />
<app-chronometer-output-task 
  [start]="numbers[4]" 
  (finish)="onFinishChronometer($event)"
  class="d-block mt-3" />
<app-chronometer-output-task 
  [start]="numbers[5]" 
  (finish)="onFinishChronometer($event)"
  class="d-block mt-3" />
<app-chronometer-output-task 
  [start]="numbers[6]" 
  (finish)="onFinishChronometer($event)"
  class="d-block mt-3" />