



<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="['/']">
        <img 
          src="./../../../../assets/angular.png" 
          alt="logo angular" 
          title="logo agular"
          class="img-logo">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngFor="let item of itemsNavbar" class="nav-item">
            <a 
              [routerLink]="[item.path]"
              routerLinkActive="active"
              class="nav-link active" >
              {{ item.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>