
.wrap-nav-tabs  {
    position: sticky;
    top: 90px;
    height: 80vh;
    width: fit-content;
    max-width: 160px;
    overflow: auto;
    flex-wrap: nowrap;
}
.nav-link {
    max-height: 68px;
}
.nav-link.active {
    text-decoration: underline;
}
    