

<div class="row">
    <div class="col-3">
        <!-- <div class="card">
            <img 
                [src]="writer?.imagen" 
                [alt]="writer?.nombre"
                [title]="writer?.nombre">
            <div class="card-body">
              <h5 class="card-title">{{ writer?.nombre }} {{ writer?.apellidos }}</h5>
              <p class="card-text">{{ writer?.pais }}</p>
            </div>
        </div> -->
    </div>
</div>

<div class="row">
    <div class="col-12">
        <router-outlet />
    </div>
</div>