
.wrap-command {
    position: sticky;
    top: 80px;
    max-height: 85vh;
    overflow-y: auto;
    padding-right: 5px;
}
.wrap-command .title {
    background: var(--bg-title, #0d6efd);
}
.wrap-command .wrap-buttons {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap-command .card-total {
    position: sticky;
    top: 1px;
    z-index: 1;
    background-color: rgba(157, 250, 171, 0.7);
    backdrop-filter: blur(80px);
    color: rgb(0, 128, 0);
    color:  rgb(0, 128, 0);
    padding: 5px 10px;
}
.wrap-command .card-total .total {
    font-size: 24px;
}