

/* ** Validaciones simples ** */
input.ng-valid.ng-touched {
  border: 2px solid var(--border-success);
  background: var(--bg-success);
  color: var(--text-success);
}	
input.ng-invalid.ng-touched {
  border: 2px solid var(--border-danger);
  background: var(--bg-danger);
  color: var(--text-danger);
}