





<div class="row">
    <div class="col-6">
        <p>En esta página tenemos un botón que nos redigirá a la home a través de JS, con una función.</p>
        <div>
            <button (click)="goToHome()" class="btn btn-outline-primary">Ruta a la home</button>
        </div>
        <p class="mt-3">En la función se le puede pasar parámetros para que sea dinámico</p>
    </div>
    <div class="col-6">
        <div>
            <img 
                src="./../../../../../assets/img/code/router-navigate-button.png" 
                alt="img button router navigate" 
                title="img button router navigate" 
                class="img-fluid" />
        </div>
        <div>
            <img 
                src="./../../../../../assets/img/code/router-navigate.png" 
                alt="img router navigate" 
                title="img router navigate" 
                class="img-fluid mt-2" />
        </div>
    </div>
</div>