
<div class="row">
    <div class="col-12">
        <h2>{{ title }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Autor</label>
                <input 
                    formControlName="author"
                    type="text" 
                    class="form-control autor">
            </div>
            <div class="form-group mt-3">
                <label>Título</label>
                <input 
                    formControlName="title"
                    type="text" 
                    class="form-control titulo">
            </div>
            <div class="form-group mt-3">
                <label>Descripción</label>
                <input 
                    formControlName="description"
                    type="text" 
                    class="form-control descripcion">
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button 
                    value="Enviar"
                    type="submit" 
                    class="btn btn-outline-success w-25">
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>