


<div class="row">
    <div class="col-6">
        <p>En este caso siempre tenemos el atributo [routerLink], este atributo nos servirá para hacer el ruteo del sitio web sin que recargue el navegador. También tenemos el routerLinkActive, nos servirá para darle una clase para cuándo es usuario está en el link actual.</p>
        <p>En este caso lo tenemos dentro de un *ngFor, por eso no se ve el destindo en la imagen.</p>
    </div>
    <div class="col-6">
        <img 
            src="./../../../../../assets/img/code/router-link.png" 
            alt="img router link" 
            title="img router link" />
    </div>
</div>