


<h3>Animales</h3>
<ul class="list-group">
    <li *ngFor="let animal of animals" class="list-group-item">{{ animal }}</li>
</ul>
<h5> *ngFor="let animal of animals" class="list-group-item">animal</h5>
<hr>
<h4>Animales con el pipe slice</h4>
<ul class="list-group">
    <li *ngFor="let animal of animals | slice:1-3" class="list-group-item">{{ animal }}</li>
</ul>
<h5> *ngFor="let animal of animals | <strong>slice:1-3"</strong> class="list-group-item">animal</h5>
<hr>
<h3>Input con el pipe slice</h3>
<label>Mínimo</label>
<input
[(ngModel)]="min"
type="range" 
min="0" 
[max]="animals.length" 
step="1">
{{ min }}
<label>Máximo</label>
<input
    [(ngModel)]="max"
    type="range" 
    min="0" 
    [max]="animals.length" 
    step="1">
    {{ max }}
<ul class="list-group">
    <li *ngFor="let animal of animals | slice:min:max" class="list-group-item">{{ animal }}</li>
</ul>
<h5>*ngFor="let animal of animals | <strong>slice:min:max"</strong> class="list-group-item">animal</h5>
<p>*El min-max son las variables de los inputs range que nos sirven para mostrar más o menos animales</p>